:root {
  /* background color */
  --background-color: #ffffff;
  --background-section-color: #2e2f42;

  --thumb-bg-color: #4d5ae5;

  /* text color */
  --text-field-color: #ffffff;
  --main-title-color: #2e2f42;
  --text-description-color: #434455;
  --footer-text-color: #f4f4fd;
  --nav-color: #2e2f42;
  --overlay-text-color: #f4f4fd;

  /* logo color */
  --logo-main-color: #4d5ae5;
  --logo-header-color: #2e2f42;

  /* link, icon and button color */
  --main-color-hover: #404bbf;
  --button-normal-color: #4d5ae5;

  --icon-color: #404bbf;
  --icon-color-hover: #31d0aa;
  --icon-company: #8e8f99;
  --icon-social: #f4f4fd;

  /* modal window */
  --text-modal: #8e8f99;
  --bt-modal-main: #e7e9fc;
  --bt-modal-hover: #404bbf;
  --icon-modal-main: #2e2f42;
  --icon-modal-hover: #ffffff;

  /* animation  */
  --main-delay: 250ms;
  --main-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

/* global styles */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-description-color);
  background-color: var(--background-color);
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img {
  display: block;
}

.button-main {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;

  color: var(--text-field-color);
  background-color: var(--button-normal-color);
  border-radius: 4px;
}

.title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.text-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-description-color);
}

/*------------- logo styles ----------------*/
.logo {
  margin-right: 76px;

  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-main-color);
}

.logo .part-logo-up {
  color: var(--logo-header-color);
}

.logo .part-logo-down {
  color: var(--footer-text-color);
}

/* -------------header------------------------- */
/*------------- navigation styles ----------------*/
.header-section {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.menu {
  display: flex;
}

.menu-button {
  position: relative;
  padding: 24px 0;

  font-weight: 500;
  font-size: 16px;
  /* line-height: 1.5; притиснув after */
  letter-spacing: 0.02em;
  color: var(--nav-color);

  transition: color var(--main-delay) var(--main-cubic-bezier);
}

.active.menu-button {
  color: var(--main-color-hover);
}

.active.menu-button::after {
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  content: '';
  width: 100%;
  height: 4px;

  background-color: var(--main-color-hover);
  border-radius: 2px;
}

.menu-item {
  margin-right: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-item:nth-last-child(-n + 1) {
  margin-right: 0;
}

.address {
  font-style: normal;
}

.address-box {
  display: flex;
}

.address-list {
  margin-right: 40px;
}

.address-list:nth-last-child(-n + 1) {
  margin-right: 0;
}

.address-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-description-color);

  transition: color var(--main-delay) var(--main-cubic-bezier);
}

/* hover and focus */
.menu-button:hover,
.menu-button:focus,
.address-item:hover,
.address-item:focus {
  color: var(--main-color-hover);
}

/* social network icons */

.social-list {
  display: flex;
  justify-content: center;
}
.social-item {
  width: 40px;
  height: 40px;
}
.social-icon-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  background-color: var(--button-normal-color);
  border-radius: 50%;

  transition: background-color var(--main-delay) var(--main-cubic-bezier);
}

.social-icon {
  fill: var(--icon-social);
}

/*------------footer styles------------------- */

.footer-space {
  background: var(--background-section-color);
  padding: 100px 0;
}

.footer-blocks {
  display: flex;
  align-items: baseline;
}

.footer-description {
  margin-right: 120px;
}

.footer-space .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-about {
  width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--footer-text-color);
}

.footer-block-description {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color);
}

.footer-block-icons {
  margin-right: 80px;
}

.footer-social-list {
  gap: 16px;
}

.footer-social-list .social-icon-link:hover,
.footer-social-list .social-icon-link:focus {
  background-color: var(--icon-color-hover);
}

.footer-block-email {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-label-email {
  margin-right: 24px;
}

.footer-input-email {
  width: 264px;
  height: 40px;
  padding-left: 16px;

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  border: 1px solid var(--background-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-section-color);
  color: var(--text-field-color);
}

.footer-input-email::placeholder {
  color: var(--text-field-color);
}

/* .footer-input-email:focus-visible {
  outline: none;
} */

.footer-button-email {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 165px;
  height: 40px;
  gap: 16px;

  transition: background-color var(--main-delay) var(--main-cubic-bezier);
}

.footer-button-icon {
  fill: currentColor;
}

.footer-button-email:hover,
.footer-button-email:focus {
  background-color: var(--main-color-hover);
}

/* -----------PAGE index-------------------- */

/* ----hero----- */
.hero-section {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

.hero-img {
  max-width: 1440px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;

  background-color: var(--background-section-color);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/hero/hero-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  max-width: 496px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button-hero {
  display: block;
  min-width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 16px;
  padding-bottom: 16px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--main-delay) var(--main-cubic-bezier);
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--main-color-hover);
}

/* <!-- advantages -->  */

.advantages-section {
  padding: 120px 0;
}

.advantages-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.advantages-item {
  width: calc((100% - 72px) / 4);
  margin-right: 24px;
}

.advantages-item:nth-last-child(-n + 1) {
  margin-right: 0;
}

.advantages-item > .title-name {
  margin-bottom: 8px;
}

.advantages-icon-box {
  display: flex;
  width: 264px;
  height: 112px;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;

  background-color: var(--footer-text-color);
  border-radius: 4px;
}

/* <!-- type of project --> */

.type-project-section {
  padding-bottom: 120px;
}

.type-project-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-title-color);
}

.type-project-list {
  display: flex;
  margin-left: auto;
  margin-bottom: auto;
}

.type-project-item {
  margin-right: 24px;
  width: calc((100% - 1px) / 3);
}

.type-project-item:nth-last-child(-n + 1) {
  margin-right: 0;
}

/* <!-- our team --> */

.section-team {
  padding: 120px 0;

  background-color: #f4f4fd;
}

.team-title-main {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-title-color);
}

.team-list {
  display: flex;
}

.team-item {
  margin-right: 24px;
  width: 264px;
  border-radius: 0px 0px 4px 4px;

  background-color: var(--background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item:nth-last-child(-n + 1) {
  margin-right: 0;
}

.team-item-text {
  padding: 32px 0;
  text-align: center;
}

.team-item-text .title-name,
.team-item-text .text-description {
  margin-bottom: 8px;
}

.team-social-list {
  gap: 24px;
}

.team-social-list .social-icon-link:hover,
.team-social-list .social-icon-link:focus {
  background-color: var(--main-color-hover);
}

/*-----------customers---------------- */

.section-customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.cusromers-title-main {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  text-align: center;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  height: 88px;
  width: calc((100% - 120px) / 6);
}

.customers-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  border: 1px solid currentColor;
  border-radius: 4px;
  color: var(--icon-company);

  transition: color var(--main-delay) var(--main-cubic-bezier);
}

.customers-link:hover,
.customers-link:focus {
  color: var(--main-color-hover);
}

.customer-icon {
  fill: currentColor;
}

/* -----------PAGE portfolio-------------------- */
.portfolio-section {
  padding: 96px 0 120px;
}

/* <!-- filter buttons --> */

.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.button-list-item {
  margin-right: 24px;
}

.button-list-item:nth-last-child(-n + 1) {
  margin-right: 0;
}

.button-item {
  padding: 12px 24px 12px 24px;
  align-items: center;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-normal-color);
  background-color: var(--footer-text-color);
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  transition: background-color var(--main-delay) var(--main-cubic-bezier),
    color var(--main-delay) var(--main-cubic-bezier),
    border var(--main-delay) var(--main-cubic-bezier),
    box-shadow var(--main-delay) var(--main-cubic-bezier);
}

.button-item:hover,
.button-item:focus {
  background-color: var(--main-color-hover);
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* <!-- list of the projects --> */

.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  margin-right: 24px;
  margin-bottom: 48px;
  flex-basis: calc((100% - 48px) / 3);
}

.project-item:nth-child(3n + 3) {
  margin-right: 0;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-item-link {
  display: block;

  transition: box-shadow var(--main-delay) var(--main-cubic-bezier);
}

.project-item-link:hover,
.project-item-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-item-text {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.project-item .title-name {
  margin-bottom: 8px;
}

/* Project overlay  */

.project-item-thumb {
  position: relative;
  overflow: hidden;
}

.project-overlay-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--overlay-text-color);
}

.project-item-overlay {
  position: absolute;
  top: 0;
  left: 0;

  padding: 40px 32px 164px;
  width: 100%;
  height: 100%;

  background-color: var(--thumb-bg-color);

  transform: translateY(100%);
  transition: transform var(--main-delay) var(--main-cubic-bezier);
}

.project-item-link:hover .project-item-overlay,
.project-item-link:focus .project-item-overlay {
  transform: translateY(0);
}

/*----------- Backdrop and modal----------  */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity var(--main-delay) var(--main-cubic-bezier),
    visibility var(--main-delay) var(--main-cubic-bezier);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 408px;
  height: 584px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* ---------Button modal close------------- */
.modal-button-close {
  position: absolute;
  right: 24px;
  top: 24px;

  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;

  background-color: var(--bt-modal-main);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: background-color var(--main-delay) var(--main-cubic-bezier);
}

.modal-button-close:hover,
.modal-button-close:focus {
  background-color: var(--bt-modal-hover);
}

.modal-icon-close {
  fill: var(--icon-modal-main);

  transition: fill var(--main-delay) var(--main-cubic-bezier);
}

.modal-button-close:hover .modal-icon-close,
.modal-button-close:focus .modal-icon-close {
  fill: var(--icon-modal-hover);
}

/* --------Block of form------------- */
.modal-field-container {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 72px;
  padding-bottom: 24px;

  text-align: center;
}

.modal-title {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.modal-field-label {
  display: block;
  text-align: left;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--text-modal);
}

.modal-field-input {
  padding-left: 36px;
  width: 100%;
  height: 40px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.04em;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  transition: border var(--main-delay) var(--main-cubic-bezier);
}

.modal-field-box {
  position: relative;

  margin-bottom: 8px;
}

.icon-modal-field {
  position: absolute;
  top: 50%;
  left: 16px;

  transform: translateY(-50%);

  filter: drop-shadow(none);

  transition: fill var(--main-delay) var(--main-cubic-bezier),
    filter var(--main-delay) var(--main-cubic-bezier);
}

.modal-field-input:focus + .icon-modal-field {
  fill: var(--button-normal-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal-field-input:focus {
  outline: none;
  border: 1px solid var(--button-normal-color);
}

.modal-field-input-comment {
  width: 100%;
  height: 120px;
  margin-bottom: 16px;
  padding: 8px 16px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  transition: border var(--main-delay) var(--main-cubic-bezier);
}

.modal-field-input-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-field-input-comment:focus {
  outline: none;
  border: 1px solid var(--button-normal-color);
}

/* ------checkbox privacy----------- */

.modal-checkbox-label {
  position: relative;

  display: flex;
  justify-content: left;
  align-items: center;

  padding-left: 24px;
  margin-bottom: 24px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--text-modal);
}

.modal-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 0;

  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  transition: border var(--main-delay) var(--main-cubic-bezier),
    background-color var(--main-delay) var(--main-cubic-bezier);
}

.modal-checkbox-icon {
  fill: var(--icon-social);
}

.modal-checkbox-input:checked + .modal-checkbox {
  background-color: var(--bt-modal-hover);
  border: 1px solid var(--bt-modal-hover);
}

.modal-checkbox-input:focus + .modal-checkbox,
.modal-checkbox-input:hover + .modal-checkbox {
  border: 1px solid var(--button-normal-color);
}

.modal-privacy-link {
  color: var(--button-normal-color);
}

.modal-button-send {
  min-width: 169px;
  height: 56px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--main-delay) var(--main-cubic-bezier);
}

.modal-button-send:hover,
.modal-button-send:focus {
  outline: none;
  background-color: var(--main-color-hover);
}
